<!-- render comments -->
{{> comment}}

<!-- create comment -->
{{#if logged_in}}
<div class="col">
  <div class="card m-2">
    <div class="card-header bg-light">
      <div class ="fs-3 fw-bold">Add Comment</div>
    </div>
    <div class="card-body">
      <form class="form comment-form">
        <div class="form-group mb-3">
          <label for="create-comment" class="form-label fw-bold">Comment</label>
          <textarea class="form-control" id="create-comment" rows="5"></textarea>
        </div>
        <div class="form-group mb-3">
          <button class="btn btn-primary" type="submit" id="comment-btn">Add Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/create-comment.js"></script>
{{/if}}
